// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fac225+0,7a9890+50,3c63a8+100 */
    background: #fac225!; /* Old browsers */
    background: -moz-linear-gradient(top,  #fac225 0%, #7a9890 50%, #3c63a8 100%)!; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fac225 0%,#7a9890 50%,#3c63a8 100%)!; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fac225 0%,#7a9890 50%,#3c63a8 100%)!; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac225', endColorstr='#3c63a8',GradientType=0 )!; /* IE6-9 */
    $gradient: linear-gradient(180deg, #fac225 0%, #7a9890 50%, #3c63a8 100%);
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    height: 100vh;
    top: 0;
  }
  p {
    color: black;
  }
  h1, h2 {
    font-family: 'Alegreya', serif;
    text-align: center;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    color: rgb(10, 75, 128);
  }
  body {
    background: url(images/atom.svg);
    background-repeat: no-repeat;
    background-position: -25vw;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    top: 0;
}
.textbox1 {
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 2px auto;
    width: fit-content(20em);
    max-width: 80vw;
}
#aboutLisa {
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 5px;
grid-row-gap: 5px;
max-height: 300px;
width: 100%;
overflow: hidden;
}
img {
    object-fit: contain;
}