html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {

    /* position: fixed; */
    overflow-y: scroll;
  }
  body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fac225+0,7a9890+50,3c63a8+100 */
    background: #fac225; /* Old browsers */
    background: -moz-linear-gradient(top,  #fac225 0%, #7a9890 50%, #3c63a8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fac225 0%,#7a9890 50%,#3c63a8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fac225 0%,#7a9890 50%,#3c63a8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac225', endColorstr='#3c63a8',GradientType=0 ); /* IE6-9 */
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    /* height: 100%; */
    top: 0;
    /* height: 100vh; */
    width: 100%;
    margin: 0 auto;
    text-align: center;
    top: 0;
    position: relative;
}
  p {
    color: black;
  }
  h1, h2 {
    font-family: 'Alegreya', serif;
    text-align: center;
  }
  h1 {
    font-size: 60px;
    margin-top: 20px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    color: rgb(10, 75, 128) !important;
  }

.textbox1 {
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 5px auto;
    width: fit-content(20em);
    max-width: 60vw;
}
.aboutLisa {
    display: grid;
    grid-template-columns: 160px auto;
grid-template-rows: 1fr;
grid-column-gap: 5px;
grid-row-gap: 5px;
max-height: 300px;
width: 100%;
overflow: hidden;
}
.aboutLisa div {
  max-height: 300px;
  padding: 5px;
}
img {
  max-height:100%; max-width:100%;
  border-radius: 5px;
}
.imgborder {
  background-color: white;
  padding: 5px 15px;
border-radius: 10px;
}
li{
  margin-left:2em;
}
.footer {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
}
svg {
  height: 120vh;
}
button {
 margin: 0 auto;
}


.section {
  position: relative;
  height: 100vh;
  width: 100vw;

    /* background-color: transparent !important; */
  background: url(images/tree.svg);
  background-repeat: no-repeat;
  background-position: -50vw top;
  background-size: contain;
opacity: 75%;
}
.box2 {
  background-color: rgba(255, 255, 255, 0.8) !important;
}
.part1 {

  text-align: center;
  font-size: 40px;
  padding: 20px;
}
.floatbox-a {
  right: 3em;
  position: relative;
  text-align: left;
  max-width: 50%;
  color: white;
}

.quote {
  color: white;
}
.part2, .part4 {
    background-color: rgba(255, 255, 255, 0.8) !important;
}
.part4 {
  text-align: center;
}
.smalltree {
  width: 100px;
  text-align: center;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  body {
      background-position: -35vw;
  }
  .textbox1 {
      max-width: 95vw;
  }
  svg {
    fill-opacity: 50% !important;
    transform: scale(2.5);
  }
}